TWITCH_CLIENT_ID=your_client_id_here
TWITCH_CLIENT_SECRET=your_client_secret_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin_password
USE_GPU=true
DATABASE_URL=sqlite:////data/users.db
DOWNLOADS_DIR=/app/downloads
